.card-container {
    display: flex;
    flex-wrap: wrap;
    /* Para que las tarjetas se envuelvan si no caben en una sola línea */
    justify-content: space-between;
    /* Para que haya espacio entre las tarjetas */
    padding: 180px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.PlieguePag {
    display: flex;
    flex-wrap: wrap;
    /* Para que las tarjetas se envuelvan si no caben en una sola línea */
    justify-content: space-between;

    padding: 240px;
    padding-top: 5px;
    padding-bottom: 20px;
    
}
.cardinfo img{
    height: 400px;
    width: 400px;
    margin-left: 40%;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body
{
    font-family: 'Montserrat';
}

nav
{
    background: #0082e6;
    height: 80px;
    width: 100%;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

label.logo
{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul
{
    float: right;
    margin-right: 20px;
}

nav ul li
{
   display: inline-block;
   line-height: 80px;
   margin: 0 5px;
}

nav ul li a 
{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

active,a:hover{
    color: white;
    background: #1b9bff;
    transition: .5s;
}

